@import '../../../utils/variables';
.form-box {
  position: relative;

  &-input {
    width: 100%;
    padding: 10px 0;
    font-size: 14px;
    color: var(--primary-text);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid var(--primary-text);
    outline: none;
    background: transparent;

    &:focus {
      outline: none;
      border-bottom-color: var(--accent-color);
    }

    &:focus::placeholder {
      color: var(--accent-color);
    }
  }
  .error {
    color: var(--accent-color);
    position: absolute;
    font-size: 12px;
    margin: 0;
    right: 0;
    top: 10px;

    &::before {
      display: inline;
      content: '⚠ ';
    }
  }

  .contact-form-field {
    margin-bottom: 30px;
    width: $base-width-form;
    overflow: auto;
    flex-basis: 100%;
    padding: 12px 0;
    border: none;
    border-bottom: 1px solid var(--primary-text);
    background-color: transparent;
    resize: none;
    font-size: 14px;
    line-height: 20px;
    color: var(--primary-text);

    &:focus {
      outline: none;
      border-bottom-color: var(--accent-color);
    }

    &:focus::placeholder {
      color: var(--accent-color);
    }
  }

  &-btn {
    padding: 10px 20px;
    background-color: transparent;
    color: var(--primary-text);
    border: 2px solid var(--primary-text);
    border-radius: 8px;
    text-align: center;
    cursor: pointer;

    &:hover {
      border: 2px solid var(--accent-color);
      color: var(--accent-color);
      transition: all 0.4s;
    }
  }
}
