body {
    background-color: #000;
    font-family: 'Montserrat', sans-serif;
}

.pageup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
}

.content {
    color:#ff4081;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 20px;
    text-align: center;
}
.btn {
    display: inline-block;
    padding: 12px 24px;
    border: 1mm ridge #fff;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    user-select: none;
    font-weight: bold;
}

.btn:hover {
    border: 1mm ridge #ff4081;
    color: #ff4081;
    transition: all 0.4s;
}