@import '../../../utils/variables';

.section-contact-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;

  .contact-item {
    padding: 20px 12px;
    border: 1mm ridge $primary-text;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    color: $primary-text;
    cursor: pointer;

    &:hover {
      border: 1mm ridge $accent-color;
      transition: all 0.4s;
    }

    .skype {
      width: 20px;
      height: 20px;
    }
  }
}

@media screen and (max-width: 767px) {
  .section-contact-list {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}
