.section-contact-list {  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;

  .contact-item {
    position: relative;
    padding: 20px 12px;
    text-align: center;
    text-decoration: none;
    color: var(--primary-text);
    cursor: pointer;
    background-color: var(--secondary-background);

    &::before,
    &::after {
      content: '';
      width: 0;
      height: 2px;
      position: absolute;
      transition: all 0.3s linear;
      background: var(--accent-color);
    }

    &:hover .contact-item-content::before,
    &:hover .contact-item-content::after {
      height: 100%;
    }

    &:hover::before,
    &:hover::after {
      width: 100%;
    }

    &-content {
      display: block;

      &::before,
      &::after {
        content: '';
        width: 2px;
        height: 0;
        position: absolute;
        transition: all 0.3s linear;
        background: var(--accent-color);
      }
    }

    .skype {
      width: 20px;
      height: 20px;
    }
  }

  .btn-aniamte::after,
  .contact-item-content::after {
    right: 0;
    bottom: 0;
    transition-duration: 0.4s;
  }

  .btn-aniamte::before,
  .contact-item-content::before {
    left: 0;
    top: 0;
    transition-duration: 0.4s;
  }
}

@media screen and (max-width: 767px) {
  .section-contact-list {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}
