@import '../../utils/variables';
.section-cv-img {
  width: $base-width-cv;
  height: $base-height-cv;
}

.btn-download {
  display: inline-block;
  padding: 12px 24px;
  border: 1mm ridge var(--primary-text);
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  color: var(--primary-text);
  cursor: pointer;
  user-select: none;
  font-weight: bold;

  &:hover {
    @extend %hover-btn;
  }
}
