$primary-text: #fff;
$secondary-text: #757575;
$primary-background: #000;
$secondary-background: #212121;
$dark-primary-color: #7b1fa2;
$accent-color: #ff4081;

$primary-padding: 30px;

$base-fz-text: clamp(16px, calc(24 / 1600 * 100vw), 24px);
$base-fz-sm: clamp(10px, calc(16 / 1600 * 100vw), 16px);
$base-fz-title: clamp(26px, calc(36 / 1600 * 100vw), 36px);

$base-width-cv: clamp(260px, calc(350 / 1600 * 100vw), 350px);
$base-height-cv: clamp(410px, calc(500 / 1600 * 100vw), 500px);
$base-width-pic: clamp(250px, calc(500 / 1600 * 100vw), 500px);
$base-height-pic: clamp(220px, calc(440 / 1600 * 100vw), 440px);
$base-height: clamp(250px, calc(500 / 1600 * 100vw), 500px);
$base-width-form: clamp(280px, calc(500 / 1600 * 100vw), 500px);

$translateZ: clamp(100px, calc(350 / 1600 * 100vw), 350px);
$left: clamp(20px, calc(300 / 1600 * 100vw), 300px);

$skills-container-height: clamp(150px, calc(190 / 1600 * 100vw), 190px);
$skills-container-width: clamp(50px, calc(180 / 1600 * 100vw), 180px);
$skills-container-gap: clamp(20px, calc(100 / 1600 * 100vw), 100px);

%hover-btn {
  border: 1mm ridge $accent-color;
  color: $accent-color;
  transition: all 0.4s;
  cursor: pointer;
}

%logo-animation {
  animation-name: blinker;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

//@keyframes cursor {
//   0% {
//     border-color: $accent-color;
//   }

//   50% {
//     border-color: transparent;
//   }

//   100% {
//     border-color: $accent-color;
//   }
// }

// @keyframes printed_text {
//   from {
//     width: 0;
//   }
// }

// .animate {
//   width: 20ch;
//   white-space: nowrap;
//   overflow: hidden;
//   border-right: 3px solid $accent-color;
//   animation: cursor 0.75s step-end infinite, printed_text 4s steps(20);
// }
