$primary-text: #fff;
$secondary-text: #757575;
$primary-background: #000;
$secondary-background: #212121;
$dark-primary-color: #7b1fa2;
$accent-color: #ff4081;

$primary-padding: 30px;

$base-fz-text: clamp(16px, calc(24 / 1600 * 100vw), 24px);
$base-fz-sm: clamp(10px, calc(16 / 1600 * 100vw), 16px);
$base-fz-title: clamp(26px, calc(36 / 1600 * 100vw), 36px);

$base-width-cv: clamp(260px, calc(350 / 1600 * 100vw), 350px);
$base-height-cv: clamp(410px, calc(500 / 1600 * 100vw), 500px);
$base-width-pic: clamp(250px, calc(500 / 1600 * 100vw), 500px);
$base-height-pic: clamp(220px, calc(440 / 1600 * 100vw), 440px);
$base-height: clamp(250px, calc(500 / 1600 * 100vw), 500px);
$base-width-logo: clamp(70px, calc(130 / 1600 * 100vw), 130px);
$base-height-logo: clamp(30px, calc(60 / 1600 * 100vw), 60px);
$base-width-form: clamp(280px, calc(500 / 1600 * 100vw), 500px);

%hover-btn {
  border: 1mm ridge $accent-color;
  color: $accent-color;
  transition: all 0.4s;
  cursor: pointer;
}
