@import '../../utils/variables';

.footer {
  display: flex;
  justify-content: center;
  gap: 15px;

  &-icons {
    color: $primary-text;

    &:hover {
      transition: all 0.4s;
      cursor: pointer;
      color: $accent-color;
    }
  }
}
