@import '../../../utils/variables';

.navBar {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;

  li {
    list-style: none;
    white-space: nowrap;
    font-weight: bold;
    cursor: pointer;

    a {
      color: $primary-text;
      text-decoration: none;

      &:hover {
        transition: all 0.4s;
        color: $accent-color;
      }
    }
  }
}
